<div class="about" id="about">
  <div class="container">
    <h3 class="w3l-title">My Self</h3>
    <div class="about-w3l-agileifo-grid">
      <div class="col-md-7 agile-w3l-ab">
        <ul class="rslides" id="slider">
          <% @IntroImages.each do |img|%>
          <li>
              <div class="agile-w3l-ab-img">
                <%= image_tag img.image.url(:medium) %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-5 w3ls-agile-left">
        <div class="w3ls-agile-left-info">
          <h4>Name</h4>
          <p>Salman Nausher</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Sex</h4>
          <p>Male</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Address</h4>
          <p> P-94 Usman Block Gulshan-e-madina Sargodha Road Faisalabad.</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Phone Number</h4>
          <p>+92-305-2546818</p>
        </div>
        <div class="w3ls-agile-left-info">
          <h4>Email Address</h4>
          <p><a href="mailto:example@email.com">salman.nausher@qbatch.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
