<div class="footer w3ls">
  <div class="container">
    <div class="w3ls-social-icons-2">
      <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
      <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
      <a class="pinterest" href="#"><i class="fa fa-google-plus"></i></a>
      <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
      <a class="tumblr" href="#"><i class="fa fa-tumblr"></i></a>
    </div>
  </div>
</div>
<div class="copyrights">
  <p>&copy; 2017 Classic CV. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
</div>
