<div class="portfolio" id="projects">
  <div class="container">
    <h3 class="w3l-title">My Projects</h3>
    <div class="agileits_portfolio_grids">
        <% @projects.each_with_index do |project,index| %>
          <div class="col-md-3 agileits_portfolio_grid">
              <div class="agileinfo_portfolio_grid hovereffect">
                <a  href="<%= project.url  %>" target= "_blank">
                  <%= image_tag project.image.url(:medium) %>
                  <div class="overlay">
                    <h4><%= project.title%></h4>
                  </div>
                </a>
              </div>
          </div>
          <% if index.odd?%>
            <br>
          <% end %>
        <% end %>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>
