<div class="services" id="services">
  <div class="container">
    <h3 class="w3l-title">My Services</h3>
    <div class="box2">
      <div class="col-sm-4 s-1">
        <a href="#">
          <div class="view view-fifth">
            <i class="fa fa-laptop" aria-hidden="true"></i>
            <div class="mask">
              <i class="fa fa-laptop" aria-hidden="true"></i>
              <h4>Web Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
            </div>
            <h3>Web Design </h3>
          </div>
        </a>
      </div>
      <div class="col-sm-4 s-1">
        <a href="#">
          <div class="view view-fifth">
            <i class="fa fa-clone" aria-hidden="true"></i>
            <div class="mask">
              <i class="fa fa-clone" aria-hidden="true"></i>
              <h4>Creative Design</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
            </div>
            <h3>Creative Design</h3>
          </div>
        </a>
      </div>
      <div class="col-sm-4 s-1">
        <a href="#">
          <div class="view view-fifth">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <div class="mask">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              <h4>Html Coding</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod</p>
            </div>
            <h3>Html Coding</h3>
          </div>
        </a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
